.auth-container {
  margin: 0 auto;
  padding-top: 60px;
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo-img {
  display: block;
  width: 396px;
  height: 132px;
}

/* 로그인, 회원가입 폼 */
.auth-form {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.auth-input-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--gray-800);
}

.auth-input {
  width: 100%;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--gray-100);
  border: none;
  border-radius: 12px;
}

.auth-input::placeholder {
  color: var(--gray-400);
}

.password-input-area {
  position: relative;
}

.show-password-button {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}

.auth-button {
  padding: 12px;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-100);
  border-radius: 40px;
  cursor: pointer;
}

/* 하단 영역 */
.sns-login-area {
  padding: 16px 23px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  align-items: center;
  background-color: var(--background-100);
  border-radius: 8px;
}

.sns-login-text {
  flex-grow: 1;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--gray-800);
}

.sns-login-link {
  width: 42px;
  height: 42px;
}

.sns-login-img {
  width: 100%;
}

.auth-guide-area {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.auth-guide-text {
  margin-right: 4px;
  color: var(--gray-800);
}

.auth-guide-link {
  color: var(--primary-100);
}
