:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --blue: #3692FF;
  --blue-hover: #1967D6;
  --white: #ffffff;
}