/* Common */
html {
  font-size: 62.5%; /* 1rem = 10px */
  @media (max-width: 1024px) {
    font-size: 56.25%; /* 1rem = 9px */
  }
}
* {
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
  color: var(--gray800);
}
a {
  text-decoration: none;
}
.inner {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
