:root {
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;
  --secondary-900: #111827;
  --secondary-800: #1F2937;
  --secondary-700: #374151;
  --secondary-600: #4B5563;
  --secondary-500: #6B7280;
  --secondary-400: #9CA3AF;
  --secondary-300: #E5E7EB;
  --secondary-200: #F3F4F6;
  --secondary-100: #F9FAFB;
}

body {
  color: #374151;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
  font-size: 16px;
  background-color:#fff;
}

header{
 width: 100%;
 height: 70px;
 background-color:#fff;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 16px;
 border-bottom: 1px solid #dfdfdf;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

footer {
  background-color: var(--secondary-900);
  padding: 32px;
  font-size: 16px;
  color:var(--secondary-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px 36px;
}

#copyright {
  order: 3;
  flex-basis: 100%;
  color: var(--secondary-400);
}

#footerMenu {
  display: flex;
  gap: 30px;
}

#footerMenu>a{
  color:#fff;
}

#footerSnsIcons {
  display: flex;
  gap: 12px;
}

.button{
  background-color: var(--primary-100);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-200);
}

.button:focus {
  background-color: var(--primary-300);
}

.no-break {
  display: inline;
}

@media (min-width: 768px) {
  header {
    padding: 0 24px;
  }

  .wrapper {
    padding: 0 24px;
  }

  .no-break {
    display: none;
  }

  footer {
    padding: 32px 104px 108px 104px;
  }

  #copyright {
    flex-basis: auto;
    order: 0;
  }

}

@media (min-width: 1200px) {

  .wrapper {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
  }

  #main_contents.wrapper{
    max-width: 988px;
  }

  header {
    padding: 0 200px;
  }

  .no-break {
    display: inline;
  }

  footer {
    padding: 32px 200px 108px 200px;
  }
}
