@charset "utf-8";


/*================================================== main ==================================================*/
.main .top,
.main .btm{
  height: 540px;
  background: #CFE5FF;
}
.main .top .inner,
.main .btm .inner{
  height: 100%;
}
.main .btm{
  margin-top: 8.625rem;
}
.main .top .inner{
  padding-top: 15rem;
  background: url(./../img/main/img_home_top.png) no-repeat 100% 100% / 746px auto;
}
.main .btm .inner{
  padding-top: 15.9375rem;
  background: url(./../img/main/img_home_bottom.png) no-repeat 100% 100% / 746px auto;
}
.main .top .btn.lg{
  margin-top: 2rem;
  width: 357px;
}
.main .cont {
  padding: 8.625rem 0;
}
.main .cont .inner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 988px;
  border-radius: 12px;
  background-color: #FCFCFC;
}
.main .cont.reverse .inner{
  flex-direction: row-reverse;
  text-align: right;
}
.main .cont img{
  height: 444px;
}
.main .cont .txtCont{
  min-width: 300px;
}
.main .type{
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--blue);
  line-height: 1.625rem;
}
.main .title{
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gray700);
  line-height: 1.4;
}
.main .text{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

/*================================================== join & login ==================================================*/
.formWrap {
  width: 640px;
  margin: 60px auto;
}
.formWrap .logo {
  margin-bottom: 40px; 
}
.formWrap .logo a{
  margin: auto;
  display: block;
  width: 396px;
  height: 132px;
  background: url(./../img/common/logo_lg.png) no-repeat 0 0 / cover;   
}
.formWrap .iptBox + .iptBox{
  margin-top: 24px;
}
.formWrap .iptBox label{
  display: block;
  margin-bottom: 16px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--gray800);
}
.formWrap .iptBox .ipt{
  position: relative;
}
.formWrap .iptBox input{
  width: 100%;
  height: 56px;
  padding: 16px 24px 14px 24px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray800);
  background-color: var(--gray100);
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
}
.formWrap .iptBox input.atv{
  border: 1px solid var(--blue);
}
.formWrap .iptBox input.error{
  border: 1px solid var(--red);
}
.formWrap .iptBox div.error{
  margin: 8px 16px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--red);
}
.formWrap .btnEye{
  position: absolute;
  top: 50%;
  right: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/content/btn_visibility_on.png) no-repeat 0 0 / cover;
  transform: translateY(-50%);
}
.formWrap .btnEye.on{
  background: url(../img/content/btn_visibility_off.png) no-repeat 0 0 / cover;
}
.formWrap .btn.lg{
  margin-top: 24px;
  height: 56px;
  background-color: var(--gray400);
}
.formWrap .btn.lg.atv{
  background-color: var(--blue);
}
.formWrap .socialBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 16px 23px;
  background-color: #E6F2FF;
  border-radius: 8px;
}
.formWrap .socialBtn .tit{
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray800);
}
.formWrap .socialBtn .btns{
  font-size: 0;
  word-spacing: 0;
}
.formWrap .socialBtn a{
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-left: 16px;
}
.formWrap .socialBtn a img{
  width: 100%;
}
.formWrap .guideBtn{
  margin-top: 24px;
  text-align: center;
}
.formWrap .guideBtn .tit{
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray800);
}
.formWrap .guideBtn .btnTxt{
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--blue);
  text-decoration: underline;
}
