body {
  margin-top: 70px;
}

.contents-layout {
  width: 100%;
  max-width: 1120px;
}

/* 배너 공통 */
.banner-container {
  width: 100%;
  background-color: var(--background-200);
}

.banner-contents {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-700);
}

/* 헤더 스타일 */
.header-container {
  padding: 0 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--gray-0);
}

.gnb {
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 51px;
}

.logo-img {
  width: 153px;
  height: 51px;
}

.login {
  width: 128px;
  height: 48px;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-100);
  border-radius: 8px;
}

/* 메인 배너 스타일 */
.main-banner-contents {
  padding-top: 200px;
}

.main-banner-text-area {
  padding-bottom: 60px;
}

.view-more-items {
  margin-top: 32px;
  width: 357px;
  height: 56px;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-50);
  border-radius: 40px;
}

.main-banner-img {
  width: 746px;
  height: 340px;
}

/* 오버뷰 스타일 */
.overview-container {
  padding: 138px 0 276px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 276px;
}

.overview-contents {
  width: 100%;
  max-width: 988px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: var(--background-50);
  border-radius: 12px;
}

.overview-img {
  width: 579px;
  height: 444px;
}

.overview-tag {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: var(--primary-100);
}

.overview-title {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-700);
}

.overview-desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-700);
}

.overview-right {
  text-align: right;
  order: -1;
}

/* 하단 배너 스타일 */
.bottom-banner-contents {
  padding-top: 143px;
}

.bottom-banner-title {
  padding-bottom: 60px;
}

.bottom-banner-img {
  width: 746px;
  height: 397px;
}

/* footer */
.footer-container {
  width: 100%;
  height: 160px;
  background-color: var(--gray-900);
}

.footer-contents {
  margin: 0 auto;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-company-info {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-400);
}

.footer-link-area {
  display: flex;
  gap: 30px;
}

.footer-link {
  font-size: 16px;
  color: var(--gray-200);
  text-decoration: none;
}

.footer-sns-area {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1020px) {
  .gnb {
    padding: 0 24px;
  }
  .banner-title {
    font-size: 32px;
    text-align: center;
  }
  .banner-contents {
    flex-direction: column;
  }

  .overview-container {
    padding: 32px 16px;
    gap: 24px;
  }

  .overview-contents {
    width: 100%;
    flex-direction: column;
    gap: 32px;
  }

  .overview-img {
    width: 100%;
  }

  .overview-text-area {
    width: 100%;
  }

  .overview-right {
    order: 0;
  }

  .overview-title {
    font-size: 32px;
  }

  .overview-desc {
    font-size: 20px;
  }
}
