/* Header */
header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
}

header > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로그인 버튼 */
.btn-logo img {
  height: 51px;
}
.btn-login {
  width: 128px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 8px;
  background-color: #3692ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/* main */

/* Footer */
footer {
  width: 100%;
  height: 160px;
  background-color: #111827;
}

footer > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.2rem; /* 32px */
}

footer p {
  color: #9ca3af;
  font-size: 16px;
}

footer a {
  color: #e5e7eb;
  font-size: 16px;
}

.footer-center {
  display: flex;
  gap: 3rem; /* 30px */
}

.footer-sns {
  display: flex;
  gap: 12px; /* 12px */
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
  header > .inner {
    padding: 0 24px;
  }
  footer > .inner {
    max-width: 536px;
  }
  footer p {
    color: var(--gray200);
  }
}

@media (max-width: 767px) {
  header > .inner {
    padding: 0 16px;
  }
  footer > .inner {
    position: relative;
    max-width: 100%;
    height: 100%;
    padding: 32px;
  }
  .footer-center {
    position: absolute;
    top: 32px;
    left: 32px;
  }
  .footer-sns {
    position: absolute;
    top: 32px;
    right: 32px;
  }
  footer > .inner > p {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }
}
