/* main-common */
h1, #mainBottomBanner h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44.8px;
  padding-top: 48px;
  padding-bottom: 18px;
}

.background_block{
  background-color: #fcfcfc;
  height: 138px;
}

/* main - header */

#panda_market_logo>img{
  display: flex;
  width: 153px;
  height: 51px;
  background-size: 100%;
  justify-content: center;
  gap: 8.5px;
}

#loginButton{
  padding: 14.5px 43px;
  border-radius:8px;
  font-size: 16px;
  font-weight: 600;
}

/* main - section - mainTopBanner */
#mainTopBanner, #mainBottomBanner{
  height: 540px;
  background-color: #cfe5ff;
  text-align: center;
  margin-top: 70px;
}

#mainTopBanner{
  background-image: url(../images/main/main-top-banner-img.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 120%;
}

.main-btn{
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  padding: 14.5px 33.5px;
}

/* main - section - main_contents */
#main_contents{
  padding-top: 52px;
}

.main_content{
  /* background-color: #fcfcfc; */
  margin-bottom: 40px;
}

.main_content>img{
  width: 100%;
  margin-bottom: 24px;
}

.main_content:nth-child(2) {
  text-align: right;
}

.txt_content{
  flex: 1;
}

.txt_content .subTitle {
  color: var(--primary-100);
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
  margin-bottom: 8px;
}

.txt_content h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}

.txt_content p{
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.08em;
  margin-top: 16px;
}

/* main - section - mainBottomBanner*/
#mainBottomBanner{
  margin-top: 83px;
  background-image: url(../images/main/main-bottom-banner-img.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

#mainBottomBanner h2 {
 padding-top: 121px;
}

@media (min-width: 768px) {

  #mainTopBanner {
    height: 771px;
    background-size: 100%;
  }

  .main-btn {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 126px;
  }

  h1, #mainBottomBanner h2 {
    font-size: 40px;
    line-height: 56px;
    padding-top: 84px;
    padding-bottom: 24px;
  }

  #main_contents{
    padding-top: 24px;
  }

  .main_content{
    margin-bottom: 52px;
  }

  .txt_content .subTitle {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .txt_content h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  .txt_content p{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  #mainBottomBanner{
    height: 927px;
    margin-top: 201px;
  }
}

@media (min-width: 1200px) {
  #mainTopBanner, #mainBottomBanner {
    text-align: left;
    height: 540px;
    display: flex;
    align-items: center;
    background-position: 78% bottom;
    background-size: 50%;
  }

  #mainBottomBanner{
    margin-top: 0;
  }

  h1, #mainBottomBanner h2 {
    padding-top: 0;
    padding-bottom: 32px;
  }

  #main_contents {
    padding: 138px 0 0;
  }

  .main_content {
    margin-bottom: 276px;
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .main_content:nth-child(2) {
    flex-direction: row-reverse;
  }

  .main_content img {
    width: 50%;
    margin-bottom: 0;
  }

  .txt_content .subTitle {
    margin-bottom: 12px;
  }

  .txt_content h2 {
    font-size: 40px;
    line-height: 56px;
  }

  .txt_content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
}
