*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

address{
  font-style: normal;
}

table{
  border-collapse: collapse;
}

caption,legend{
  display: none;
}

fieldset{
  border:none;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

img{
  vertical-align: top;
}
