@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/Pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/Project-Noonnu/Pretendard/packages/pretendard/dist/web/static/woff/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  line-height: 1em;
  box-sizing: border-box;
  border: 0;
}

a, button {
  color: #fff;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
}
a:hover, button:hover {
  text-decoration: none;
  border: 0;
}
a:active, button:active {
  text-decoration: none;
  border: 0;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.container1 {
  max-width: 1120px;
  margin: 0 auto;
}

.container2 {
  max-width: 988px;
  margin: 0 auto;
  padding: 138px 0;
}

header {
  padding: 0 200px;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #DFDFDF;
  z-index: 10;
}
header .container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .right_box button {
  background: #3692FF;
  color: #fff;
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

main, section.banner {
  background: #CFE5FF;
  font-size: 0;
}
main .container1, section.banner .container1 {
  height: 540px;
  display: flex;
  align-items: end;
}
main .txt_box, section.banner .txt_box {
  margin-bottom: 100px;
  flex-basis: 357px;
}
main .txt_box h1, section.banner .txt_box h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  vertical-align: middle;
  margin-bottom: 32px;
}
main .txt_box a, section.banner .txt_box a {
  background: #3692FF;
  border-radius: 40px;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  height: 56px;
  text-align: center;
  line-height: 56px;
}

section.content .box {
  background: #FCFCFC;
  border-radius: 12px;
  display: flex;
  gap: 64px;
  align-items: center;
}
section.content .txt_box h4 {
  color: #3692FF;
  font-size: 18px;
}
section.content .txt_box h2 {
  font-size: 40px;
  line-height: 140%;
  font-weight: 700;
  margin-top: 12px;
}
section.content .txt_box p {
  font-size: 24px;
  line-height: 120%;
  margin-top: 24px;
}
section.item .img_box {
  margin-left: 23px;
}
section.search .box {
  flex-direction: row-reverse;
}
section.search .txt_box {
  text-align: right;
}
section.search .img_box {
  margin-right: 12px;
}

footer {
  background: #111827;
  color: #9CA3AF;
  font-size: 16px;
}
footer .container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 160px;
  padding-top: 32px;
}
footer .menu {
  font-size: 16px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
footer .sns {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.wrap.center {
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.wrap.center .container_login {
  padding: 0;
}

.container_login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}
.container_login form {
  width: 100%;
  max-width: 640px;
}
.container_login form .input_box {
  margin-bottom: 24px;
}
.container_login form .input_box label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.container_login form .input_box input {
  display: block;
  background: #F3F4F6;
  width: 100%;
  font-size: 16px;
  line-height: 56px;
  margin-top: 16px;
  border-radius: 12px;
  padding: 0 24px;
}
.container_login form .password_box {
  position: relative;
}
.container_login form .password_box .password-toggle {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../img/picto_eye.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  overflow: hidden;
  text-indent: -1000px;
}
.container_login form button.submit {
  width: 100%;
  line-height: 56px;
  border-radius: 40px;
  padding-right: 124px;
  padding-left: 124px;
  background: #3692FF;
  font-size: 20px;
}
.container_login form .login_sns {
  background: #E6F2FF;
  display: flex;
  padding: 16px 23px;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 24px;
}
.container_login form .login_sns p {
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
}
.container_login form .login_sns .btn_wrap {
  display: flex;
  gap: 16px;
}
.container_login form .login_sns .btn_wrap button {
  width: 42px;
  height: 42px;
  overflow: hidden;
  text-indent: -1000px;
  cursor: pointer;
}
.container_login form .login_sns .btn_wrap button.google {
  background: url(../img/icon_google.png) no-repeat center center/contain;
}
.container_login form .login_sns .btn_wrap button.kakao {
  background: url(../img/icon_kakao.png) no-repeat center center/contain;
}
.container_login .exception {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 24px;
}
.container_login .exception a {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 24px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #3692FF;
}