.container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 24px;
  border-bottom: 1px solid var(--gray-300);
  background-color: var(--gray-0);

  @media screen and (width <= 767px) {
    padding: 0 16px;
  }

  .gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin: 0 auto;

    .logo {
      height: 51px;

      .logo-img {
        height: 51px;
      }
    }
  }

  .gnb-guest {
    max-width: 1120px;
  }

  .gnb-auth {
    max-width: 1520px;
    gap: 47px;

    .menu-list {
      display: flex;
      margin-right: auto;
      gap: 30px;

      .menu {
        color: var(--gray-600);
        font-size: 18px;
        font-weight: 700;
      }

      .menu-active {
        color: var(--primary-100);
      }
    }

    @media screen and (width <= 1199px) {
      gap: 35px;
    }

    @media screen and (width <= 767px) {
      gap: 8px;

      .menu-list {
        gap: 8px;
      }

      .logo {
        height: 40px;

        .logo-img {
          height: 40px;
        }
      }
    }
  }
}
