.setting {
  position: absolute;
  top: 0;
  right: 0;
  .btnSet {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: url("/img/content/ic_kebab.svg") no-repeat 50% 50%;
    cursor: pointer;

    &:hover {
      background-color: #f3f4f6;
    }
  }
  .btns {
    position: absolute;
    top: 34px;
    right: 0;
    width: 139px;
    height: 92px;
    border-radius: 16px;
    border: 1px solid #d1d5db;
    background: #fff;
    z-index: 1;
    overflow: hidden;
    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      font-family: Pretendard;
      font-weight: 400;
      font-size: 16px;
      color: #6b7280;
      &:hover {
        background-color: #f3f4f6;
      }
    }
  }
}
