@charset "utf-8";

/*============= CSS Variables =============*/
:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --blue: #3692ff;
  --red: #f74747;
}

/*============= common =============*/
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/*============= layout =============*/
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  .inner {
    max-width: 1120px;
    margin: auto;
  }
  .container {
    flex: 1 1 auto;
  }
}
/* Tablet */
@media (max-width: 1199px) {
  /*============= common =============*/
  .hiddenTM {
    display: none;
  }
  .hiddenT {
    display: none;
  }
  /*============= layout =============*/
  .wrap {
    .inner {
      max-width: 100%;
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  /*============= common =============*/
  .hiddenT {
    display: block;
  }
  /*============= form =============*/
  .iptBox {
    & + .iptBox {
      margin-top: 16px;
    }
  }
}
