.itemPage {
  .util {
    display: flex;
    gap: 12px;
    .search {
      position: relative;
      width: 325px;
      height: 42px;
      input {
        display: block;
        width: 100%;
        height: 42px;
        padding: 0 4px 0 44px;
        border-radius: 12px;
        background-color: var(--gray100);
        box-sizing: border-box;
      }
      button {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 9px;
        left: 16px;
        background: url("./../public/img/content/ic_search.svg") no-repeat 0 0 /
          24px 24px;
      }
    }
    .sorting {
      position: relative;
      width: 130px;
      .btnSort {
        width: 130px;
        height: 42px;
        padding: 9px 20px;
        border-radius: 12px;
        text-align: left;
        border: 1px solid var(--gray200);
        background: url("./../public/img/content/ic_arrow_down.png") no-repeat
          86px 50% / 24px 24px;
        &.atv {
          background-image: url("./../public/img/content/ic_arrow_up.png");
        }
      }
      .list {
        position: absolute;
        top: 48px;
        right: 0;
        width: 100%;
        border-radius: 12px;
        border: 1px solid var(--gray200);
        background-color: #fff;
        overflow: hidden;
        li:not(:first-child) {
          border-top: 1px solid var(--gray200);
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 42px;
        }
      }
    }
    .btn.sm {
      width: 133px;
    }
  }
}
.prodList {
  display: flex;
  justify-content: space-between;
  .prodItem {
    flex-shrink: 1;
    .prodThum {
      overflow: hidden;
      border-radius: 16px;
      background-color: #fff;
      border: 1px solid #dfdfdf;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .prodInfo {
      margin-top: 16px;
      .name {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
      .price {
        margin-top: 6px;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
      }
      .favorite {
        margin-top: 6px;
        padding-left: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        background: url("./../img/content/ic_heart.svg") no-repeat 0 50%;
        background-size: 16px 16px;
      }
    }
  }
  &.best {
    margin: 16px 0 40px;
    .prodItem {
      width: 282px;
      .prodThum {
        height: 282px;
      }
    }
  }
  &.all {
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 40px 0;
    .prodItem {
      width: 221px;
      .prodThum {
        height: 221px;
      }
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 46px;
  button {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid var(--gray200);
    &.active {
      color: #fff;
      border-color: #2f80ed;
      background-color: #2f80ed;
    }
    &.btnPrev {
      background: url("../img/content/arrow_left.svg") no-repeat 50% 50% / 16px
        16px;
    }
    &.btnNext {
      background: url("../img/content/arrow_right.svg") no-repeat 50% 50% / 16px
        16px;
    }
  }
}

/* Tablet */
@media (max-width: 1236px) {
  .itemPage {
    .util {
      .search {
        width: 242px;
      }
    }
  }
  .prodList.best {
    margin: 17px 0 24px;
    .prodItem {
      width: calc((100% - 1.344vw) / 2);
      .prodThum {
        height: 46.102vw;
      }
    }
  }
  .prodList.all {
    .prodItem {
      width: calc((100% - (2.15vw * 2)) / 3);
      .prodThum {
        height: 29.704vw;
      }
    }
  }
}

/* Mobile */
@media (max-width: 744px) {
  .itemPage {
    .util {
      .search {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 56px);
      }
      .sorting {
        width: 42px;
        position: absolute;
        bottom: 0;
        right: 0;
        .btnSort,
        .btnSort.atv {
          color: transparent;
          width: 42px;
          padding: 0;
          background: url("./../public/img/content/ic_sorting.svg") no-repeat
            50% 50%;
        }
        .list {
          width: 130px;
        }
      }
    }
  }
  .prodList.best {
    .prodItem {
      width: 100%;
      .prodThum {
        height: 91.223vw;
      }
    }
  }
  .prodList.all {
    gap: 32px 0;
    .prodItem {
      width: calc((100% - 2.339vw) / 2);
      .prodThum {
        height: 44.68vw;
      }
    }
  }
}
