@charset "utf-8";

/*============= Reset =============*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  height: 100%;
}
html,
pre {
  font-family:
    "Pretendard", "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", "gulim",
    "굴림", Helvetica, sans-serif;
  font-weight: 300;
}
body {
  height: 100%;
  color: var(--gray700);
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray700);
  font-size: inherit;
  font-weight: 700;
}
a {
  display: inline-block;
  color: var(--gray700);
  text-decoration: none;
  cursor: pointer;
}
address {
  font-style: normal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
pre {
  overflow: auto;
}
sub {
  vertical-align: sub;
  line-height: 0;
}
sup {
  vertical-align: super;
  line-height: 0;
}
b,
em,
strong {
  font-weight: 500;
}
i,
em {
  font-style: normal;
}
img,
fieldset {
  vertical-align: middle;
}
ol,
ul,
li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  word-break: normal;
}
th,
td {
  text-align: center;
  vertical-align: middle;
}
th {
  font-weight: 500;
}
caption,
legend {
  position: static;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
fieldset,
legend {
  background-color: transparent;
}
hr {
  height: 0;
  border: 0;
  background-color: transparent;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  text-align: center;
  overflow: visible;
  box-sizing: border-box;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: button;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button[disabled],
button[disabled]:hover,
input[disabled] {
  cursor: default;
}

button,
input,
select,
option,
optgroup,
textarea {
  border-radius: 0;
  color: var(--gray800);
  font-family:
    "Pretendard", "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", "gulim",
    "굴림", Helvetica, sans-serif;
  font-size: 1rem;
}
button,
select {
  text-transform: none;
}
input,
select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

textarea::placeholder,
input::placeholder {
  color: var(--gray800);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: var(--gray800);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: var(--gray800);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: var(--gray800);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--gray100) inset !important;
  background-color: var(--gray100) !important;
}
