* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

/* CSS 변수 */
:root {
  --blue: #3692ff;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}

/* 버튼 2개 호버 */
a.button:hover {
  background-color: #1251aa;
}

/* 네비게이션바 */

.nav-section {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

/* 버튼 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3692ff;
  font-weight: 600;
  color: var(--gray100);
  text-decoration: none;
}
.login-button {
  font-size: 16px;
  width: 128px;
  height: 48px;
  border-radius: 8px;
}
.search-button {
  font-size: 20px;
  width: 357px;
  height: 56px;
  border-radius: 40px;
}

/* 배너 */
.banner-background {
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;

  display: flex;
  justify-content: center;
  align-items: end;
}
.top-banner-section {
  display: flex;
}
.top-banner-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}
.bottom-banner-textbox {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 32px;
}

.banner-img {
  display: flex;
}

/* 메인 섹션 */

.main-section-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #fcfcfc;
}
.main-section-inner {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 100px;
}

.main-section-textbox {
  display: inline-block;
  flex-direction: column;
  margin-right: 24px;
}

/* 폰트  */
.main-text {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
}
.point-text {
  color: #3692ff;
  font-size: 18px;
  font-weight: 800;
}
.body-text {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
}
.footer-text {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
}
.bottom-banner-text {
  display: flex;
  justify-items: center;
}

/* 푸터 */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #111827;

  width: 100%;
  height: 160px;
  padding: 32px 400px;
}
.footer-herf {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.footer-herf a {
  color: var(--gray400);
  text-decoration: none;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
