* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

body {
}

.input_text {
  color: #1f2937;
  font-size: 18px;
  font-weight: 700px;
}

.login_button {
  color: #f3f4f6;
  font-size: 20px;
  font-weight: 600px;

  width: 640px;
  height: 56px;

  text-align: center;

  border-radius: 999px;
  background-color: #3692ff;
  padding: 16px 124px;
  gap: 10px;
}
