* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

/* 공통 메인 속성 */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 231px 640px;
}

/* 로고이미지 */

.logo_img {
  margin-bottom: 40px;
}

/* 라벨과 인풋 */

label {
  color: #1f2937;
  font-size: 18px;
  font-weight: 700;

  margin: 16px;
}

input {
  display: flex;
  background-color: #f3f4f6;
  border: 2px solid #f3f4f6;
  border-radius: 10px;

  padding: 20px;

  width: 640px;
  height: 56px;
  margin: 16px;
}

#password {
  background-image: url(img_panda/btn_visibility_on_24px.png);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

/* 회원가입 */
.singup_button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #f3f4f6;
  font-size: 20px;
  font-weight: 600;

  width: 640px;
  height: 56px;

  /* text-align: center; */

  border: 1px solid #ffffff;
  border-radius: 999px;
  background-color: #3692ff;
  padding: 16px 124px;
  margin: 16px;
}

/* 간편 로그인하기 */

.Easy_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 10px;
  margin: 16px;
  padding: 16px 23px;
}

.Easy_login_menu {
  color: #1f2937;
  font-size: 16px;
  font-weight: 500;
}

/* 이미 회원이신가요? */

.already_member_text {
  color: #1f2937;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 16px;
}

a.sign_up {
  color: #3692ff;
}
