body{
      margin:0;
      min-height:100vh;
      display:flex;
      align-items:center;
      justify-content:center;
    }

.signup_wrap{
  width: 400px;
  
}
.signup_header{
  display:flex; 
  align-items:center; 
  justify-content:center; 
  gap:16px;
  margin:0 auto 28px;
}
.signup_header img{ 
  width:105px; 
  height:105px; 
  display:block 
}
.signup_title{
  font-weight:800; 
  font-size:60px; 
  line-height:1;
  color:#3692FF;
}
.signup_box{
  width: auto;
  height: auto;
  margin-top: 50px;
}
.signup_email{
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.signup_email_box{
  gap: 10px;
  background-color: #F3F4F6;
  border-radius: 16px;
  padding: 16px 8px;
  
}
.signup_email_box input{
  background-color: #F3F4F6;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
}
.signup_passwrodcheck{
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.signup_passwrodcheck_box{
  gap: 10px;
  background-color: #F3F4F6;
  border-radius: 16px;
  padding: 16px 8px;
}
.signup_passwrodcheck_box input{
  background-color: #F3F4F6;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
}
.signup_name{
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.signup_password{
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.signup_passwrod_box{
  gap: 10px;
  background-color: #F3F4F6;
  border-radius: 16px;
  padding: 16px 8px;
}
.signup_passwrod_box input{
  background-color: #F3F4F6;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
}
.signup_button{
  margin-top: 20px;
  text-align: center;
  background-color: #3692FF;
  border-radius: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
}
.signup_easy{
  margin-top: 20px;
  background-color: #E6F2FF;
  display:flex; 
  align-items:center; 
  justify-content: space-between;
  border-radius: 16px;
}
.signup_easy img{
  width: 42px;
  height: 42px;
  margin-right: 5px;
  margin-top: 5px;
}
.signup_easy_word{
  font-size: 16px;
  line-height: 26px;
  color: #1F2937;
  margin-left: 20px;
}
.signup_signup{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;

}
.signup_signup a{
  margin-left: 10px;
  color: #3692FF;
}