*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Pretendard', sans-serif;
}

nav{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    max-width:1920px;
    height:70px;
    padding: 9px 400px;
    gap:10px;
    border-bottom: 1px solid #DFDFDF;
}
.logoimg{
    height: 51px;
    width: 153px;
    cursor: pointer;
}
.login-button{
    width:128px;
    height: 48px;
    border-radius: 8px;
    padding:12px 23px;
    gap:10px;
    color: #F3F4F6;
    font-size:16px;
    font-weight:600;
    background-color:#3692FF;
    text-decoration:none;
    cursor: pointer;
    line-height:26px;
    letter-spacing:0%;
}

.top-header{
    width: 1920px;
    height: 540px;
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.top-textbox{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items:center;               
    padding-bottom: 60px;
    gap:32px;
    width:357px;
    height: 260px;
}
.top-title{
    font-style: Bold;
    font-size:40px;
    color:#374151;
    font-weight:700;
    line-height: 40px;
    letter-spacing:0%;
}
.top-button{
    width:357px;
    height:56px;
    border-radius: 40px;
    padding:16px 124px;
    gap:10px;
    background-color:#3692FF;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing:0%;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    color:#F9FAFB;
    cursor: pointer;

}
.top-imgbox{
    display:flex;
    align-items:end;
    justify-content:center;
}

article{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    width: 988px;
    height:444px;
    border-radius: 12px;
    gap:64px;
}
section{
    padding: 138px 466px;
}
.imgbox1{
    width: 579px;
    height:444px;
}
.text-box1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding-right: 24px;
    gap:12px;
}
.text-tag1{
    font-weight:800;
    font-size:18px;
    color:#3692FF;
    line-height:26px;
    letter-spacing:0%;
}
.text-title1{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #374151;
}
.text-letter1{
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #374151;
}
.textbox2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    text-align:right;
    padding-left: 24px;
    gap:12px;
}
.text-tag2{
    font-weight:800;
    font-size:18px;
    color:#3692FF;
    line-height:26px;
    letter-spacing:0%;
}
.text-title2{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #374151;
}
.text-letter2{
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #374151;
}
.imgbox3{
    width: 579px;
    height:444px;
}
.text-box3{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding-right: 24px;
    gap:12px;
}
.text-tag3{
    font-weight:800;
    font-size:18px;
    color:#3692FF;
    line-height:26px;
    letter-spacing:0%;
}
.text-title3{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #374151;
}
.text-letter3{
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #374151;
}
.bottom{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 1920px;
    height: 540px;
    background-color: #CFE5FF;
    gap: 69px;
}
.bottom-title{
    color: #374151;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
}

.bottom-textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    gap: 10px;
}
.bottom-imgbox{
    display: flex;
    justify-content: center;
    align-items: end;
}           

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111827;
    width: 1920px;
    height: 160px;
    padding: 32px 400px;
    gap: 10px;
}
.footer-first{
    color: #9CA3AF;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    width: 112px;
    height: 19px;
    cursor: pointer;
}
.footer-second a{
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100px;
    height: 190x;
    text-decoration: none;
    cursor: pointer;
}
.footer-third a{
    width:116px;
    height: 20px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    gap:20px;
} 