.btnEye {
  position: absolute;
  top: 50%;
  right: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/content/btn_visibility_on.png) no-repeat 0 0 / cover;
  transform: translateY(-50%);
  &.on {
    background: url(../img/content/btn_visibility_off.png) no-repeat 0 0 / cover;
  }
}
