
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
}

main.paper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .mbanner {
  width: 396px;
  height: 132px;
  object-fit: contain; 
  display: block;
  margin: 0 auto; 
}


.login-btn {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 1199px) and (min-width: 768px) {
  main.paper {
    padding: 0 24px; 
  }

  header {
    padding-left: 24px;   
    padding-right: 24px;  
  }
}

/* mobile*/
@media (max-width: 767px) and (min-width: 375px) {
  main.paper {
    padding: 0 16px; 
  }

  header {
    padding-left: 16px;
    padding-right: 16px;  
  }

  
  .email input,
  .password .input-wrapper,
  .login-btn button,
  .simplelogin,
  .sign-in {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

    .login-btn{
        display: block;
        text-align: center;
    }
  
}


.icon-group {
  display: flex;
  gap: 16px; 
}

@media (max-width: 767px) {
  .icon-group {
    gap: 8px; 
  }

  footer {
    margin-top: 16px; 
  }
}
