.itemImgUpload {
  display: flex;
  gap: 24px;
  .imgBox {
    position: relative;
    width: 282px;
    height: 282px;
    border: 1px solid var(--gray100);
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .imgUpload {
    background: var(--gray100);
    input {
      position: absolute;
      inset: 0;
      padding: 0;
      color: transparent;
      font-size: 0;
      border: none;
      background-color: transparent;
      opacity: 0;
      z-index: -1;
    }
    .btnUpload {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-top: 158px;
      font-size: 16px;
      color: var(--gray400);
      cursor: pointer;
      background: url(./../img/content/ic_item_add.svg) no-repeat 50% 98px;
    }
  }
}

.btnDelete {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 22px;
  height: 24px;
  background: url(./../img/content/ic_item_delete.svg) no-repeat 0 0;
}

/* Tablet */
@media (max-width: 1236px) {
  .itemImgUpload {
    gap: 10px;
    .imgBox {
      width: 168px;
      height: 168px;
    }
    .imgUpload {
      .btnUpload {
        padding-top: 101px;
        background-position: 50% 41px;
      }
    }
  }
}
