.container {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  padding: 5px 12px;
  border-radius: 26px;
  background-color: var(--gray-100);
  gap: 8px;

  .remove-button {
    width: 22px;
    height: 24px;
  }
}
