[type='number'] {
  appearance: textfield;
}

input::-webkit-inner-spin-button {
  appearance: none;
}

input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.input {
  composes: input-base from '@/style/common/commonInput.module.css';
}

.input-complete {
  border: 1px solid var(--primary-100);
}

.input-error {
  border: 1px solid var(--error-red);

  &:focus {
    outline: 1px solid var(--error-red);
  }
}
