* {
    box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: Pretendard ,Arial, sans-serif;
}

.login-box {
  display: flex;
  width: 640px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  flex-shrink: 0;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15.25px;
}

.login-logo div > a {
  color: #3692ff;
  font-family: 'ROKAFSansMedium';
  font-size: 66.344px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.login-logo div > a:visited {
  text-decoration: none;
  color: #3692ff;
}

.login-info,
.login-info > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.login-email,
.login-pass {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-email > label,
.login-pass > label {
  font-size: 18px;
  font-style: normal;
  font-weight: 700; 
  line-height: 26px;
}

.login-email > div,
.login-pass > div {
  background-color: #f3f4f6;
  border: 2px solid rgba(49, 130, 246, 0);
  border-radius: 12px;
  height: 56px;
  flex-shrink: 0;
  padding: 16px 24px;
}

.login-email > div > input,
.login-pass > div > input {
  border: none;
  background-color: #f3f4f6;
  width: 600px;
}

input:focus {
  outline: none;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3692ff;
  border: none;
  color: #f3f4f6;
  border-radius: 48px;
  padding: 16px 124px;
  width: 648px;
  height: 56px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.login-button:hover {
  background-color: #1c4d87;
  cursor: pointer
}

.login-easy {
  display: flex;
  width: 648px;
  height: 74px;
  padding: 16px 23px;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.login-easy > .icon {
  display: flex;
  gap: 16px;
}

.login-to-signup {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.login-to-signup > a {
  color: #3692ff
}