.container {
  padding: 0 24px;

  @media screen and (width <= 767px) {
    padding: 0 16px;
  }

  .contents {
    width: 100%;
    max-width: 1200px;
    margin: 70px auto 0;
    padding-top: 24px;
    padding-bottom: 58px;

    @media screen and (width <= 1199px) {
      padding-bottom: 72px;
    }

    @media screen and (width <= 767px) {
      padding-top: 17px;
      padding-bottom: 35px;
    }
  }
}
