.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .img {
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .title {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .price {
    display: inline-block;
    margin: 6px 0;
    font-weight: 700;
  }

  .favorite-button-area {
    display: flex;
    align-items: center;
    gap: 4px;

    .favorite-button {
      height: 16px;
    }

    .favorite-text {
      color: var(--gray-600);
      font-size: 14px;
      font-weight: 500;
    }
  }
}
