.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .price {
    display: inline-block;
    margin: 6px 0;
    font-weight: 700;
  }

  .favorite-info-area {
    display: flex;
    align-items: center;
    gap: 4px;

    .favorite-text {
      color: var(--gray-600);
      font-size: 14px;
      font-weight: 500;
    }
  }
}
