@import url('@/style/base/variables.css');
@import url('@/style/base/font.css');
@import url('@/style/base/reset.css');

body {
  color: var(--gray-800);
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

button {
  padding: 0;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
