* {
    box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: Pretendard ,Arial, sans-serif;
}

.login-box {
  display: flex;
  width: 640px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  flex-shrink: 0;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15.25px;
}

.login-logo div > a {
  color: #3692ff;
  font-family: 'ROKAFSansMedium';
  font-size: 66.344px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.login-logo div > a:visited {
  text-decoration: none;
  color: #3692ff;
}

.login-info,
.login-info > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.login-email,
.login-nick,
.login-pass,
.login-pass-again {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-email > label,
.login-nick > label,
.login-pass > label,
.login-pass-again > label {
  font-size: 18px;
  font-style: normal;
  font-weight: 700; 
  line-height: 26px;
}

.login-email > div,
.login-nick > div,
.login-pass > div,
.login-pass-again > div {
  background-color: #f3f4f6;
  border: 2px solid rgba(49, 130, 246, 0);
  border-radius: 12px;
  width: 648px;
  height: 56px;
  flex-shrink: 0;
  padding: 16px 24px;
}

.login-pass > div,
.login-pass-again > div {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.login-email > div > input,
.login-nick > div > input,
.login-pass > div > input,
.login-pass-again > div > input {
  border: none;
  background-color: #f3f4f6;
  /* width: 600px; */
}

input:focus {
  outline: none;
}

.show-hide-button {
  width: 24px;
  height: 24px;
  background-image: url(../images/btn_visibility_off.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.signup-button,
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ca3af;
  border: none;
  color: #f3f4f6;
  border-radius: 48px;
  padding: 16px 124px;
  width: 648px;
  height: 56px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.signup-button:hover {
  background-color: #1c4d87;
  cursor: pointer
}

.login-easy {
  display: flex;
  width: 648px;
  height: 74px;
  padding: 16px 23px;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.login-easy > .icon {
  display: flex;
  gap: 16px;
}

.signup-to-login {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.signup-to-login > a {
  color: #3692ff
}

@media (max-width: 767px) {
  .login-box{
    width: 343px;
  }

  .login-logo img {
    width: 52px;
  }

  .login-logo div > a {
    font-size: 33.172px;
  }

  .login-email > div,
  .login-nick > div,
  .login-pass > div,
  .login-pass-again > div {
    width: 343px;
    height: 56px;
    flex-shrink: 0;
    padding: 16px 24px;
  }

  .login-pass-again > div > input {
    width: 200px;
  }
  
  .signup-button,
  .login-button,
  .login-easy {
    width: 343px;
  }
}