.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .error {
    color: var(--error-red);
    font-size: 14px;
  }

  .tag-area {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
