@charset "utf-8";

*{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    object-fit: cover;
    
}

img{
    width: 100%;
}

header{
    padding: 0 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.5px;
    width: 74.52%;
}

.login{
    background-color: #3692FF;
    padding: 12px 43px;
    border-radius: 8px;
}

.login span{
    font-size: 1rem;
     font-weight: 600;
     color: #F3F4F6;
}

/* ------------섹션1 영역------------- */

.main{
    height: 540px;
    width: 100%;
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_txt{
    margin-bottom: 112px;
    margin-right: 7px;
    width: 100%;
}

h2{
    color: #374151;
    font-size: 2.5rem;
    margin-bottom: 44px;
    font-weight: 700;
}

.item{
    padding: 12px 124px;
    font-size: 1.25rem;
    background-color: #3692FF;
    color: #F9FAFB;
    border-radius: 40px;
}


/* ------------섹션1------------ */

.section_01{
    /* height: 720px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.section_01_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;  
    background-color: #FCFCFC;
    border-radius: 12px;
}

.section_01 img{
    margin-right: 64px;
}

.section_01_txt{
    width: 100%;
}


.sec_01_badge{
    color: #3692FF;
    font-weight: 800;
}

.section_01_span{
    color: #374151;
    font-size: 1.5rem;
    font-weight: 500;
}

/* -----------섹션2---------------- */

.section_02{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.section_02_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    border-radius: 12px;
}

.section_02 img{
    margin-left: 64px;
}

.section_02_txt{
    width: 100%;
}

.sec_02_badge{
    color: #3692FF;
    font-weight: 800;
}

.section_02_span{
    color: #374151;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ----------섹션3----------------- */

.section_03{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 138px;
    padding: 0 24px;
}

.section_03_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    border-radius: 12px;
}

.section_03 img{
    margin-right: 64px;
}

.section_03_txt{
    width: 100%;
}

.sec_03_badge{
    color: #3692FF;
    font-weight: 800;
}

.section_03_span{
    color: #374151;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ------------------섹션4----------------------- */

.section_04{
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 540px; 
}

.section_04_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_04_txt{
    margin-right: 69px;
    margin-bottom: 60px;
    width: 100%;
}

/* --------------footer--------------- */

footer{
    height: 160px;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 160px ;
}



.footer_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58.33%;
    margin-top: 32px;
}

.footer_txt_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56%;
}

.footer_txt_01{
    color: #9CA3AF;
}

.footer_txt_02 a{
    color: #E5E7EB;
}

.footer_txt_02 a:nth-child(2){
    margin-left: 30px;
}

.sns_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sns_icon a{
    margin-right: 12px;
}

.sns_icon a:nth-child(4){
    margin-right: 0;
}

@media (max-width:1200px){
    h2 br{
            display: none;
        }

    header{
        padding: 0;
    }

    .header{
        width: 100%;
        padding: 0 24px;
    }
    
    .main{
        height: 771px;
        margin-bottom: 24px;
    }

    .main_box{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 84px;
        justify-content: space-between;
    }
    .main_txt{
        text-align: center;
        margin-top: 84px;
    }   
    
    .section_01,.section_02,.section_03{
        margin-bottom: 52px;  
        padding: 0 24px;
    }

    .section_01_box,.section_02_box,.section_03_box{
    width: 100%;
    flex-direction: column;
    height: auto;
}

    .section_01 h2,.section_02 h2,.section_03 h2{
        font-size: 2rem;
        margin-top:16px ;
        margin-bottom: 24px;
    }

    .section_01 img,.section_02 img,.section_03 img{
    margin-right: 0;
    margin-bottom: 24px;
    }

    .section_01_txt,.section_03_txt{
        align-self: self-start;
        text-align: left;
    }

    .section_02_box{
        flex-direction: column-reverse;
    }
    .section_01 img,.section_03{
        margin-right: 0;
    }
    .section_02 img{
        margin-left: 0;
    }

    .section_02_txt{
        align-self: self-end;
        text-align: right;
    }

    .section_04{
        height: 927px;
    }

     br{
        display: block;
    }



    .section_04_box{
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .section_04_txt{
        text-align: center;
        margin-top: 201px;
        margin-right: 0;
        margin-bottom: 0;
    }


}

@media (max-width:875px){
    .footer_txt_area{
        width: 66%;
    }
}

@media (max-width:767px){
    br{
            display: block;
        }
    h2 br{
        display: none;
    }

    .section_04 h2 br{
        display: block;
    }

     .header{
        padding: 0 16px; 
     }
     .main{
        height: 540px;
        margin-bottom: 52px;
     }

     .main_txt{
        margin-top: 48px;
        margin-bottom: 0;
     }

     .main img{
        height: 204px;
     }

     .main_box h2{
        font-size: 2rem;
     }

    .section_01,.section_02,.section_03{  
        padding: 0 16px;
        overflow: hidden;
    }

     .section_01_txt h2,.section_02_txt h2,.section_03_txt h2{
        font-size: 1.5rem;
        margin: 8px 0;
     }

     .section_01_box,.section_02_box,.section_03_box{
        width: 100%;
     }

     .section_01{
        height: auto;
        margin-bottom: 40px;
        overflow: hidden;
     }
     
     .main_txt{
        max-width: 240px;
     }
     
    .item{
         padding: 11px 71px;
         font-size: 1rem;
    }
     
    .section_04{
        height: 540px;
    }

    .section_04 img{
        height: 198px;
    }

    .section_04_txt{
        text-align: center;
        margin-top: 121px;
    }

    .section_04 h2{
        font-size: 2rem;
    }

    
    footer{
        height: 100%;
    }

    .footer_box{
        padding: 32px;
        align-items: flex-start;
        width: 100%;
    }

    .footer_txt_area{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
    
    .footer_txt_02{
        margin-bottom:  60px;
    }

    .sns_icon a{
        width: 20px;
        height: 20xp;
    }

}

     



