.container {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 4px 12px;
  border: 1px solid var(--gray-200);
  border-radius: 35px;
  background-color: var(--gray-0);
  gap: 4px;

  @media screen and (width <= 1199px) {
    height: 32px;
  }

  & > svg {
    width: 32px;
    height: 32px;

    @media screen and (width <= 1199px) {
      width: 24px;
      height: 24px;
    }
  }

  .text {
    color: var(--gray-500);
    font-weight: 500;
  }
}
