@charset "utf-8";

/* Tablet (1199px 이하) */
@media (max-width: 1199px) {
  /* common */
  .hiddenTM {
    display: none;
  }
  .hiddenT {
    display: none;
  }
  .inner {
    max-width: 100%;
  }
  /* Header & footer */
  .header {
    padding: 0 24px;
    .logo {
      margin-right: 20px;
    }
  }
  .footer {
    font-size: 1rem;
    padding: 2rem 6.5rem 6.8125rem;
  }
  /* main */
  .main {
    .top {
      height: initial;
      margin-bottom: 24px;
      .inner {
        padding: 84px 0 551px;
        background-position: 50% 100%;
      }
      .txtCont {
        text-align: center;
      }
    }
    .btm {
      margin-top: 56px;
      height: initial;
      .title {
        font-size: 2.5rem;
      }
      .inner {
        padding: 201px 0 614px;
        background-position: 50% 100%;
        text-align: center;
      }
    }
    .cont {
      padding: 0 24px;
      margin-bottom: 52px;
      .inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
        border-radius: 0;
        background-color: transparent;
      }
      &.reverse .inner {
        flex-direction: column;
        align-items: flex-end;
      }
      .imgCont {
        width: 100%;
        border-radius: 14px;
        background-color: #fcfcfc;
        overflow: hidden;
        img {
          width: 100%;
          height: initial;
        }
      }
      .txtCont {
        min-width: 100%;
      }
      .type {
        display: block;
        margin-bottom: 16px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 26px;
      }
      .title {
        font-size: 32px;
      }
      .text {
        margin-top: 24px;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
