.commentEmpty {
  margin-top: 24px;
  .text {
    width: 196px;
    margin: auto;
    padding-top: 204px;
    text-align: center;
    color: #9ca3af;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background: url("/img/content/img_inquiry_empty.svg") no-repeat 0 0;
  }
}
