.iptBox {
  .ipt {
    position: relative;
  }
  & + .iptBox {
    margin-top: 24px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .iptBox {
    label {
      margin-bottom: 8px;
      font-size: 14px;
    }
    & + .iptBox {
      margin-top: 16px;
    }
  }
}
