.best-product-area {
  margin-bottom: 40px;

  .contents {
    display: flex;
    margin-top: 16px;
    gap: 24px;
  }
}

.product-area {
  .top-area {
    display: flex;
    align-items: center;
    gap: 12px;

    h2:first-of-type {
      margin-right: auto;
    }

    .search-area {
      position: relative;

      .search-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }

      .search-input {
        width: 325px;
        height: 42px;
        padding: 9px 16px;
        padding-left: 42px;
      }
    }
  }
}
