.container {
  display: flex;
  align-items: center;
  gap: 16px;

  .info-area {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    gap: 2px;

    .nickname {
      color: var(--gray-600);
    }

    .date {
      color: var(--gray-400);
    }
  }
}
