.container {
  display: flex;
  align-items: center;
  gap: 16px;

  .info-area {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .nickname {
      color: var(--gray-600);
    }

    .date {
      color: var(--gray-400);
    }
  }
}

.info-area-m {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.info-area-s {
  font-size: 12px;
  line-height: 18px;
}
