.iptBox {
  &:not(:first-child) {
    margin-top: 32px;
  }
  .ipt {
    position: relative;
  }
}

.btnDelete {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 22px;
  height: 24px;
  background: url(./../img/content/ic_item_delete.svg) no-repeat 0 0;
}
