.container {
  .top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .form-area {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .input-area {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    @media screen and (width <= 767px) {
      gap: 24px;
    }
  }
}
