.dropdown {
  width: 130px;
  position: relative;

  color: var(--secondary800);
  font-size: 16px;
  font-weight: 400;

  white-space: nowrap;
}

.selected {
  height: 42px;
  padding: 12px 20px;
  border: 1px solid var(--cool-gray-200);
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.arrow {
  content: url("../assets/ic_arrow_down.svg");
}

.options {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  border: 1px solid var(--cool-gray-200);
  border-radius: 12px;
  background-color: #fff;
}

.option {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid var(--cool-gray-200);
}

.option:last-child {
  border-bottom: none;
}

@media (max-width: 767px) {
  .dropdown {
    width: auto;
  }

  .selected {
    display: flex;
    align-items: center;
    justify-content: center; /* 아이콘만 중앙 */
    padding: 9px;
    min-width: 0;
  }

  .arrow {
    content: url("../assets/ic_dropdown.svg");
  }

  .text {
    display: none;
  }
}
