.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  padding:9px 200px;
  background-color: #fff;
  height: 70px;
  border-bottom: 1px solid $cool-gray-300;

  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: 1;

  .logo-text{
    display: none;
  }

  .nav{
    display: flex;
    flex:1;
    align-items: center;
    color: $secondary-600;

    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    font-family: "Pretendard";

    ul {
    display: flex;

    li{
      padding: 21px 15px;
    }
    .secondhand-market{
      color:#3692FF;
    }
  }
  }

  .profile-image{
    background-color: $cool-gray-300;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width:1024px) {
    padding:10px 24px;
  }

  @media screen and (max-width:768px) {
    padding:15px 16px;
    .logo-image{
      display: none;
    }
    .logo-text{
      display: block;
    }
    .nav{
      ul{
        align-items: center;
        gap:8px;
        li{
          padding: 0px 0px;
        }
      }
    }
  }
}

