/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
:root {
  /* 색상 지정 */
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --blue: #3692ff;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* 로그인 페이지 */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 618px;
}
.login.new {
  height: 857px;
}
.login > a {
  display: flex;
  justify-content: center;
}
.login > a > img {
  width: 396px;
  height: 132px;
}
.login__btn {
  background-color: var(--blue);
  border-radius: 40px;
  padding: 12px 294px;
  margin-bottom: 24px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: var(--gray100);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  display: block;
  width: 100%;
}
.login-easy {
  margin-bottom: 24px;
}
.login-easy__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  padding: 16px 23px;
  border-radius: 8px;
}
.login-easy__wrapper > ul {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.join {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.join > p > a {
  text-decoration: underline;
  color: var(--blue);
}

/* 로그인 - input */
label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
input {
  margin-bottom: 24px;
  width: 100%;
  height: 56px;
  border: none;
  background-color: var(--gray100);
  border-radius: 12px;
  padding: 24px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.pwd__wrapper {
  position: relative;
}
.turn-visible-btn {
  position: absolute;
  top: 16px;
  right: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.turn-visible-btn > img {
  width: 24px;
  height: 24px;
}
