body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* header section */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9.5px 400px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

.header__wrapper {
  height: 51px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo__img {
  width: 153px;
}
.loginbtn {
  background-color: #3692ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 26px;
  border-radius: 8px;
  padding: 11px 43px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

/* banner section */
.banner {
  background-color: #cfe5ff;
  width: 100%;
  padding-top: 200px;
  display: flex;
  align-items: flex-end;
}
.banner.top {
  margin-top: 70px;
}
.banner.bottom {
  margin-top: 138px;
}
.banner__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner__items {
  width: 357px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 40px auto;
}
.banner__slogan {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: #374151;
}
.banner__surfbtn {
  width: 357px;
  height: 56px;
  background-color: #3692ff;
  color: #ffffff;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  padding: 12px 124px;
  white-space: nowrap;
  cursor: pointer;
}
.banner__img {
  width: 746px;
}

/* main section */
.main {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.main__wrapper {
  background-color: #fcfcfc;
  display: flex;
  padding: 0 23.5px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main li {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  margin: 138px auto;
}
.main__img {
  width: 579px;
  margin-right: 23.5px;
}
.main__img.right {
  margin-right: 0;
  margin-left: 23.5px;
}
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #374151;
}
.texts.right {
  text-align: right;
}
.texts__en {
  color: #3692ff;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 12px;
}
.texts__ko-big {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 24px;
}
.texts__ko-small {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

/* footer */
footer {
  background-color: #111827;
  color: #ffffff;
  width: 100%;
  height: 160px;
  padding: 32px 400px 108px;
}
.footer__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #9ca3af;
}
.info {
  width: 159px;
  display: flex;
  justify-content: space-between;
  color: #e5e7eb;
}
.info a {
  color: #e5e7eb;
  cursor: pointer;
}
.icons {
  width: 116px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  cursor: pointer;
}
.icons img {
  width: 20px;
}

/* media query */
/* 화면 크기가 1199px 이하일 때 */
@media (max-width: 1199px) {
  body {
    background-color: #fcfcfc;
  }
  header {
    padding: 9px 24px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .onlyBigScreen {
    display: none;
  }
  .banner.top {
    margin-top: 0;
  }
  .banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner__items {
    white-space: nowrap;
    text-align: center;
    width: 100%;
    height: 136px;
    margin: 0 0 211px 0;
    gap: 24px;
  }
  .banner__slogan {
    font-size: 40px;
  }
  .main li {
    margin: 24px 24px 0 24px;
  }
  .main__wrapper {
    flex-direction: column;
    padding: 0;
  }
  .main__img {
    width: 100%;
    max-width: 744px;
  }
  .texts {
    margin: 24px 0;
  }
  .texts__en {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  .texts__ko-big {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
  }
  .texts__ko-small {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  /* nth-child(2)로 register 부분 선택 */
  .main li:nth-child(2) .main__wrapper {
    flex-direction: column-reverse;
  }
  .main li:nth-child(2) .main__img {
    margin: 0 auto;
  }
  .main li:nth-child(2) .texts {
    margin: 24px 0;
  }
  .banner.bottom {
    margin-top: 56px;
    text-align: center;
  }
  footer {
    padding: 32px 50px 64px;
  }
  .footer__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

/* 화면 크기가 767px 이하일 때 */
@media (max-width: 767px) {
  body {
    background-color: #fcfcfc;
  }
  header {
    padding: 9px 16px;
  }

  .banner {
    margin: 0;
    padding-top: 100px;
  }
  .banner.top {
    margin: 0;
  }
  .banner.bottom {
    margin-top: 83px;
  }
  .banner__wrapper {
    width: 100%;
  }
  .banner__items {
    width: 100%;
    min-width: 240px;
    text-align: center;
  }
  .banner__slogan {
    font-size: 32px;
  }
  .banner__surfbtn {
    width: 100%;
    max-width: 240px;
    padding: 12px 71px;
    font-size: 18px;
  }
  .banner__img {
    width: 100%;
    height: auto;
  }

  .main li {
    margin: 0 16px 20px 16px;
  }
  .main > li:first-child {
    margin-top: 52px;
  }

  .main__img {
    width: 100%;
  }
  .main__img.right {
    margin-left: 0;
  }
  .main li:nth-child(2) .main__wrapper {
    flex-direction: column-reverse;
  }
  .texts__en {
    font-size: 16px;
    font-weight: 700;
  }
  .texts__ko-big {
    font-size: 24px;
    line-height: 32px;
  }
  .texts__ko-small {
    font-size: 16px;
    line-height: 26px;
  }
  .onlyBigScreen {
    display: block;
  }
  footer {
    width: 100%;
    padding: 32px;
  }
  .footer__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .footer__wrapper > span {
    position: absolute;
    top: 60px;
  }
}
