@font-face {
  font-family: 'HsSantoki';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}
